.Rproj.user
.Rhistory
#.RData
.Ruserdata
*.cov
*.dep
*.hes
*.sso
data_boot_001.ss
data_expval.ss
data_updated.ss
derived_posterios.ss
echoinput.ss
fmin.log
Forecast-report.sso
forecast.ss
forecast.ss_new
runnumber.ss
SIS_table.sso
*.log
ss.b01
ss.b02
ss.b03
*.bar
*.cor
*.eva
ss.p01
ss.p02
ss.p03
ss.r01
ss.r02
ss.r03
wtatage.ss_new
starter.ss_new
warning.sso
*.par
*.rep
*.std